@import url('https://fonts.googleapis.com/css?family=Montserrat');

body { margin:0; 
    padding:0; 
    font-family: "Montserrat" , sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#map { position:absolute; top:0px; bottom:0; width:100%; }

body {
    overflow: hidden;
}

body * {
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.map {
    position: absolute;
    top: 100px;
    bottom: 0;
    width: 100%;
}

.mapboxgl-compare .compare-swiper {
    background-color: rgb(103,58,183);
}

#startup-data canvas {
    cursor: pointer;
}

#panorama {
    width: 50%;
    height: 500px;
    top: 10px;
}

.legend {
    background-color: #fff;
    bottom: 30px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.10);
    padding: 10px;
    position: absolute;
    left: 10px;
    z-index: 1;
}

.legend h5 , #filter-by-activity h5{
    font-size: 0.9em ;
    margin: 0 0 10px;
    font-family: "Montserrat" , sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;

}

.legend div span {
    display: inline-block;
    height: 20px;
    margin-right: 5px;
    width: 50px;
}


#congestion, #road-network {
  display: none;
}

#filter-by-activity {
    position: absolute;
    bottom: 50px;
    right: 10px;
    background: #fff;
    width: 250px;
    padding:5px;
    font-size: 12px;
}

  
.controls {
    padding: 20px;
}

.caption {
    text-transform: none;
    font-size: 14px;
    font-style: italic;
    color: #4c4c4c;
    letter-spacing: normal;
}

#startup-city-selected {
  min-width: 200px;
}

#secondary-data-set-selected {
    padding-left: 30px;
}

.opacity-control {
   width: 400px; 
   display: inline;
   float: right;

}

.opacity-control label {
    padding-left: 25px;
}

#switch-street-view {
    display: inline;
    float: left;

}

.mdl-switch   {
   width: 50px;
}