<<<<<<< HEAD
 @import url('https://fonts.googleapis.com/css?family=Montserrat');


 body {
 	margin: 0;
 	padding: 0;
  font-family: 'Montserrat', sans-serif;
 }

 a {
  text-decoration: none;
 }

.cities {
	float: right;
	width: 20%;
	 
}

.city {
      position: relative;
      height: 250px;
      background-position: center;
      margin-bottom: 2px;
      color: white;
 
}

 #map {
    width: 80%;
  	display: inline;
    top:0;
    bottom:30%;
    float: left;
    position: absolute;
 }
 

 
.text {
    background-color: rgba(0,0,0, 0.4);
    line-height: 250px;
    text-align: center;
    font-family: 'Montserrat' , sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;

}

.desc {
    position: absolute;
    top: 70%;
    padding: 10px;
    width: 75%;
}
 
#year-display, .prev, .next {
  width: 200px;
  background-color: #ECEFF1;
  text-align: center; 
  display: inline;
  float: left;
  line-height: 35px;
  vertical-align: middle;
}

ul#filters {
  display: none;
}
=======
 #map {
  
    width: 70%;
  	display: inline;
    height: 800px;
   float: left;
   
 }

 .cities {
 	display: inline;
    width: 30%;
 	float: left;
    height: 800px;
    
 }

 .text {
 	display: block;
 }
>>>>>>> 36231f5b64c0be23c801c53632232220f8e30a2f
