@import url('https://fonts.googleapis.com/css?family=Montserrat');
body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
a {
  text-decoration: none;
}

.hidden {
  display: none;
}

#map {
  position: absolute;
  
  top: 0;
  left: 15%;
  height: 100%;
  width: 85%;
  
  float: left;
}

.cities {
  
  width: 15%;
  height: 100%;

  float: left;
  
}

.city {
  
  width: 100%;
  background-position: center;
  margin-bottom: 2px;
  color: white;
  cursor: pointer; cursor: hand; 
}

.text {
  background-color: rgba(0, 0, 0, 0.3);
  line-height: 150px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  display: block;
}
 
#nav-side {
  position: absolute;
   right: 10px;
  top: 10px;
  background-color: rgba(236,239,241, 0.8);  
  width: 20%; 
  height: calc(100% - 50px); 
  padding: 15px;
}


#nav-side-year {
  display: block;
  height: 10%;
}

 .nav-side-year-display, .prev-year, .next-year {
  width: 60px;
  display: inline;
  float: left;
   
}


 
.nav-side-desc {
  display: block;
  border-top: 1px solid;
  text-align: justify;
}

.popup-text  {
  padding: 20px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  color: white;
}

.mapboxgl-popup-close-button {
  font-size: 16px;
  color:white;
}

div.mapboxgl-popup-tip   {
  border-top-color: #000 !important;
}

.mapboxgl-popup-content {
  border-radius: 0px;
  background: #000;
}

.infinite-carousel .list{

    height:100%;
    overflow:visible;
}
.infinite-carousel .viewport{
    margin-top: 40px;
 
  overflow:hidden;
}

.pre , .next {
  position: absolute;
   text-align: center;
   color: #673AB7;
  cursor: pointer; cursor: hand; 
  background-color: white;
  width: 15%;
} 

.pre {
   top: 0;
}

.next {
  bottom: 0;
}

.pre i , .next i {
  font-size: 40px;
  text-align: center;
}
