body {
    font-family:  'Roboto', sans-serif;
}

h1 {
    font-size: 32px;
    letter-spacing: 8px;
    line-height: 64px;
    text-transform: uppercase;

}

h2  {

    font-size: 32px;
    line-height: 46px;

}

h1, h2, h3 {
  font-family: 'Montserrat' , sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
}


#map-lebanon , #map-beirut {
	top: 0;
	bottom: 0;
	width: 100%;
	min-height: 750px;
}

 

.map-overlay-container {
    position: absolute;
    width: 25%;
    top: 95px;
    left: 10px;
    padding: 10px;
    z-index: 1;
}

 
.map-overlay h2,
.map-overlay p {
    margin: 0 0 10px;
}

 

a.mdl-button {
  text-decoration: none;
}



.mdl-checkbox {
    font-size: 20px;
    height: 40px;
    font-weight: normal;
    display: block;
}

#country-section li {
    padding-bottom: 10px;
}

.marker-cluster-small {
    background-color: transparent;
}

.marker-cluster-small div {
    border: 2px solid #000;
    background-color: rgba(255, 255, 255, .8);
}

.marker-cluster-medium {
    background-color: transparent;
}

.marker-cluster-medium div {
    border: 2px solid #000;
    background-color: rgba(255, 255, 255, .8);
}

.marker-cluster-large {
    background-color: transparent;
}

.marker-cluster-large div {
    border: 2px solid #000;
    background-color: rgba(255, 255, 255, .8);
}

.marker-cluster div {
    
    font-size: 14px;
    width: 35px;
    height: 35px;
    margin-top: 5px;
    margin-left: 5px;
    text-align: center;
    text-align: center;
    vertical-align: middle;
    border-radius: 17px;
}

.leaflet-bar,
.leaflet-control-layers {
    border-radius: 0;
}



.underline {
    border-bottom: 3px solid #fff;
}


.white {
    color: white;
}

.mdl-button {
    background: 0 0;
    border: none;
    border-radius: 2px;
    color: #000;
    position: relative;
    height: 36px;
    margin: 0;
    min-width: 64px;
    padding: 0 16px;
    display: inline-block;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0;
    overflow: hidden;
    will-change: box-shadow;
    transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
    outline: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    line-height: 36px;
    vertical-align: middle;
}

.mdl-button--raised {
    background: rgba(158,158,158,.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

.mdl-button:hover {
    background-color: rgba(158,158,158,.2);
}

.mdl-button:active {
    background-color: rgba(158,158,158,.4);
}

.mdl-button--raised:active {
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
    background-color: rgba(158,158,158,.4);
}

.mdl-button--accent.mdl-button--accent {
    color: rgb(255,64,129);
}

.mdl-button--accent.mdl-button--accent.mdl-button--raised, .mdl-button--accent.mdl-button--accent.mdl-button--fab {
    color: rgb(255,255,255);
    background-color: rgb(255,64,129);
}

.btn-otto-color {
    border-color: #ff2238;
    color: #ff2238;
}
.btn-otto-color {
    border: solid 3px;
    background: transparent;
}
.btn-otto {
    border-radius: 0px;
    text-decoration: none;
    padding: 10px 10px 10px 12px;
    font-size: 12px;
    line-height: 19px;
    text-transform: uppercase;
    letter-spacing: 4px;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-otto-color:hover {
    border-color: #ff2238;
    background: #ff2238;
    color: #ffffff;
}

.mdl-button--fab {
    border-radius: 50%;
    font-size: 24px;
    height: 56px;
    margin: auto;
    min-width: 56px;
    width: 56px;
    padding: 0;
    overflow: hidden;
    background: rgba(158,158,158,.2);
    box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.12),0 1px 1px 0 rgba(0,0,0,.24);
    position: relative;
    line-height: normal;
}

.mdl-button--fab.mdl-button--colored {
    background: rgb(255,64,129);
    color: rgb(255,255,255);
     padding-left: 15px;
    padding-top: 5px;
}

.mdl-button--fab .mdl-button__ripple-container {
    border-radius: 50%;
    -webkit-mask-image: -webkit-radial-gradient(circle,#fff,#000);
}
.mdl-button__ripple-container {
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
    overflow: hidden;

}

 



